@charset "EUC-KR";
/* CSS Document */


/* 커밋용 */
/* for styles */
@import url("default.css");
@import url("layout.css");
@import url("common.css");
/* @import url("popup.css");
@import url("layer.css"); */
/* @import url("layout_new.css"); */
/* @import url("main.css"); */
@import url("contents.css?version=v1.1");
/* @import url("contents_new.css"); *//* 2013-10-14추가 */
/* @import url("contents_new_1021.css"); *//*2013-10-14추가*/



@font-face { font-family: 'BMJUA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff'); font-weight: normal; font-style: normal; }
@keyframes done {
    70% {
        transform: scale(1.2)
    }
    100% {
        transform: scale(1)
    }
}

html {
    font-family: BMJUA
}

*, ::before, ::after {
    box-sizing: border-box
}

body, div, button, h1 {
    font: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    background: 0
}



#title {
    font-size: 3rem;
    margin: 2rem 0
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px
}

#numbers {
    margin-bottom: 20px;
    padding: 30px;
    border: 2px solid black;
    text-align:center;
}

#lotto-title{
    height: 60px;
    font-size: 30px;
    font-weight: bold;
}

#whatisdate{
    height: 45px;
    font-size: 25px;
}

.deadline{
    text-align:left;
}

.lotto-list {
    display: block;
}

.list-sum{
    margin-top: 0px;
}




.ball {
    width: 28px;
    height: 45px;
    line-height: 80px;
    border-radius: 50%;

    margin-right: 10px;
    font-size: 22px;
    text-align: center;
    display: inline-block;
}

.lotto-tag {
    width: 38px;
    height: 45px;
    line-height: 80px;
    border-radius: 50%;

    margin-right: 10px;
    font-size: 22px;
    text-align: center;
    display: inline-block;
}
#lotto-button {
    position: relative;
    display: block;
    padding: 1rem 2.5rem 1.6rem;
    background: rgb(236, 213, 0);
    color: #000;
    border: 2px solid #000;
    border-radius: 6px;
    overflow: hidden;
    transition: .5s;
    user-select: none
}

#lotto-button:hover {
    padding: 1rem 2.5rem 1rem;
    margin-top: .6rem;
    background: #999;
    color: #fff
}

#lotto-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: .6rem;
    width: 100%;
    background-image: repeating-linear-gradient(90deg, #666, #666 1px, transparent 1px, transparent 1px);
    border-top: 1px solid #666;
    transition: .5s
}

#lotto-button:hover::after {
    transform: translateY(.6rem)
}

#lotto-button.hide {
    transform: scale(0)
}

@media screen and (max-width: 800px) {
    #numbers {
        flex-direction: column;
        align-items: center
    }

    #numbers .ball {
        width: 22px;
        font-size: 18px;
        margin-right: 0;
        margin-bottom: 10px
    }

    #numbers .lotto-tag {
        width: 35px;
        font-size: 16px;
        margin-right: 0;
        margin-bottom: 10px
    }

    .lotto-list {
        height: 38px;
    }

    #publish-day{
        font-size: 12px;
    }

    #raffle-day{
        font-size: 12px;
    }
    
    #payments-day{
        font-size: 12px;
    }

    #lotto-title{
        font-size: 25px;
    }
    
    #whatisdate{
        font-size: 21px;
    }

    #numbers .ball:last-child {
        margin-bottom: 0
    }

    
}

html,
body {
    height: 100%;
    margin: 0;
}

.qr-scanner {
    background-image:
        linear-gradient(0deg,
        transparent 24%,
        rgba(32, 255, 77, 0.1) 25%,
        rgba(32, 255, 77, 0.1) 26%,
        transparent 27%,
        transparent 74%,
        rgba(32, 255, 77, 0.1) 75%,
        rgba(32, 255, 77, 0.1) 76%,
        transparent 77%,
        transparent),
        linear-gradient(90deg,
        transparent 24%,
        rgba(32, 255, 77, 0.1) 25%,
        rgba(32, 255, 77, 0.1) 26%,
        transparent 27%,
        transparent 74%,
        rgba(32, 255, 77, 0.1) 75%,
        rgba(32, 255, 77, 0.1) 76%,
        transparent 77%,
        transparent);
    background-size: 3rem 3rem;
    background-position: -1rem -1rem;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #111;
}

.qr-scanner .box {
    width: 75vw;
    height: 75vw;
    max-height: 75vh;
    max-width: 75vh;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: 0.1rem solid rgba(0, 255, 51, 0.2);
}

.qr-scanner .line {
    height: calc(100% - 2px);
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 255, 51, 0) 43%, #00ff33 211%);
    border-bottom: 3px solid #00ff33;
    transform: translateY(-100%);
    animation: radar-beam 2s infinite;
    animation-timing-function: cubic-bezier(0.53, 0, 0.43, 0.99);
    animation-delay: 1.4s;
}

.qr-scanner .box:after,
.qr-scanner .box:before,
.qr-scanner .angle:after,
.qr-scanner .angle:before {
    content: '';
    display: block;
    position: absolute;
    width: 3vw;
    height: 3vw;

    border: 0.2rem solid transparent;
}

.qr-scanner .box:after,
.qr-scanner .box:before {
    top: 0;
    border-top-color: #00ff33;
}

.qr-scanner .angle:after,
.qr-scanner .angle:before {
    bottom: 0;
    border-bottom-color: #00ff33;
}

.qr-scanner .box:before,
.qr-scanner .angle:before {
    left: 0;
    border-left-color: #00ff33;
}

.qr-scanner .box:after,
.qr-scanner .angle:after {
    right: 0;
    border-right-color: #00ff33;
}

@keyframes radar-beam {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}
