@charset "EUC-KR";
/* CSS Document */


/* 커밋용 */
/* for styles */
@import url("default.css");
@import url("layout.css");
@import url("common.css");
/* @import url("popup.css");
@import url("layer.css"); */
/* @import url("layout_new.css"); */
/* @import url("main.css"); */
@import url("contents.css?version=v1.1");
/* @import url("contents_new.css"); *//* 2013-10-14추가 */
/* @import url("contents_new_1021.css"); *//*2013-10-14추가*/



@font-face { font-family: 'BMJUA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff'); font-weight: normal; font-style: normal; }
@keyframes done {
    70% {
        transform: scale(1.2)
    }
    100% {
        transform: scale(1)
    }
}

html {
    font-family: BMJUA
}

*, ::before, ::after {
    box-sizing: border-box
}

body, div, button, h1 {
    font: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    background: 0
}



#title {
    font-size: 3rem;
    margin: 2rem 0
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px
}

#numbers {
    margin-bottom: 20px;
    padding: 30px;
    border: 2px solid black;
    text-align:center;
}

#lotto-title{
    height: 60px;
    font-size: 30px;
    font-weight: bold;
}

#whatisdate{
    height: 45px;
    font-size: 25px;
}

.deadline{
    text-align:left;
}

.lotto-list {
    display: block;
}

.list-sum{
    margin-top: 0px;
}




.ball {
    width: 28px;
    height: 45px;
    line-height: 80px;
    border-radius: 50%;

    margin-right: 10px;
    font-size: 22px;
    text-align: center;
    display: inline-block;
}

.lotto-tag {
    width: 38px;
    height: 45px;
    line-height: 80px;
    border-radius: 50%;

    margin-right: 10px;
    font-size: 22px;
    text-align: center;
    display: inline-block;
}
#lotto-button {
    position: relative;
    display: block;
    padding: 1rem 2.5rem 1.6rem;
    background: rgb(236, 213, 0);
    color: #000;
    border: 2px solid #000;
    border-radius: 6px;
    overflow: hidden;
    transition: .5s;
    user-select: none
}

#lotto-button:hover {
    padding: 1rem 2.5rem 1rem;
    margin-top: .6rem;
    background: #999;
    color: #fff
}

#lotto-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: .6rem;
    width: 100%;
    background-image: repeating-linear-gradient(90deg, #666, #666 1px, transparent 1px, transparent 1px);
    border-top: 1px solid #666;
    transition: .5s
}

#lotto-button:hover::after {
    transform: translateY(.6rem)
}

#lotto-button.hide {
    transform: scale(0)
}

@media screen and (max-width: 800px) {
    #numbers {
        flex-direction: column;
        align-items: center
    }

    #numbers .ball {
        width: 22px;
        font-size: 18px;
        margin-right: 0;
        margin-bottom: 10px
    }

    #numbers .lotto-tag {
        width: 35px;
        font-size: 16px;
        margin-right: 0;
        margin-bottom: 10px
    }

    .lotto-list {
        height: 38px;
    }

    #publish-day{
        font-size: 12px;
    }

    #raffle-day{
        font-size: 12px;
    }
    
    #payments-day{
        font-size: 12px;
    }

    #lotto-title{
        font-size: 25px;
    }
    
    #whatisdate{
        font-size: 21px;
    }

    #numbers .ball:last-child {
        margin-bottom: 0
    }

    
}

body{
    width:100%;
    text-align:center;
}
img{
    border:0;
}
#main{
    margin: 15px auto;
    background:white;
    overflow: auto;
	width: 100%;
}
#header{
    background:white;
    margin-bottom:15px;
}
#mainbody{
    background: white;
    width:100%;
	display:none;
}
#footer{
    background:white;
}
#v{
    width:640px;
    height:480px;
}
#qr-canvas{
    display:none;
}
#qrfile{
    width:1600px;
    height:1200px;
}
#mp1{
    text-align:center;
    font-size:35px;
}
#imghelp{
    position:relative;
    left:0px;
    top:-160px;
    z-index:100;
    font:18px arial,sans-serif;
    background:#f0f0f0;
	margin-left:35px;
	margin-right:35px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:20px;
}
.selector{
    margin:0;
    padding:0;
    cursor:pointer;
    margin-bottom:-5px;
}
#outdiv
{
    width:640px;
    height:480px;
	border: solid;
	border-width: 3px 3px 3px 3px;
}
#result{
    border: solid;
	border-width: 1px 1px 1px 1px;
	padding:20px;
	width:70%;
}

ul{
    margin-bottom:0;
    margin-right:40px;
}
li{
    display:inline;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-weight: bold;
    border-right: 1px solid #333333;
}
li a{
    text-decoration: none;
    color: black;
}

#footer a{
	color: black;
}
.tsel{
    padding:0;
}
